// general setup

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  background-color: $main-bg-color;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $white-color;
}
